.container {
    width: 100%;
    border: 1px solid #00000080;
    border-radius: 10px;
    padding: 30px 20px 10px;
    font-family: 'Nunito';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header h3 {
    font-size: 20px;
    font-weight: 700;
}

.header span {
    font-size: 15px;
    color: #440B7F;
    font-weight: 700;
}

.badge {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.badge h3 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.badge p {
    font-weight: 500;
    font-size: 15px;
    color: #00000080;
}

.circle {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.overflow {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

/*@media screen and (max-width: 900px) {
    .container {
        border: none;
        padding: 10px 0px 10px;
    }

    .badgeContainer {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 40px;
    }

    .badge h3, .badge p {
        white-space: nowrap;
    }
}*/

/* --- Media Queries --- */
@media(max-width:992px){
    .header{
        gap: 30px;
    }

    .header h3, .header span{
        white-space: nowrap;
    }
}

@media(max-width:768px){
    .container{
        margin-bottom: 6em;
    }

}

@media(max-width:576px){
    .container{
        padding: 30px 50px 10px;
        margin-bottom: 1em;
    }

    .header{
        gap: 50px;
    }
}

@media(max-width:480px){
    .container{
        padding: 30px 40px 10px;
    }

    .header{
        gap: 50px;
    }
}

@media(max-width:380px){
    .container{
        padding: 30px 30px 10px;
    }
}

@media(max-width:350px){
    .header h3{
        font-size: 1rem;
    }

    .header span{
        font-size: 0.8rem;
    }

}
