.page h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Nunito';
    margin-bottom: 40px;
}

.group {
    margin-bottom: 80px;
}

.group h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 30px;
}

.group h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background-color: #00000080;
}

.group .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.formInput label {
    font-weight: 500;
    font-size: 24px;
    display: block;
}

.formInput select {
    width: 100%;
    border: 1px solid #00000061;
    font-family: 'Inter';
    padding: 20px 15px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    outline: none;
    appearance: none;
}

.selectContainer {
    position: relative;
    margin-top: 20px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 30px;
}

@media screen and (max-width: 1366px) {
    .page h3 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .group {
        margin-bottom: 60px;
    }

    .group h4 {
        font-size: 20px;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }

    .group .menu {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .formInput label {
        font-size: 20px;
    }

    .formInput select {
        padding: 15px 10px;
        border-radius: 10px;
        font-size: 20px;
    }

    .selectContainer {
        position: relative;
        margin-top: 20px;
    }

    .icon {
        font-size: 25px;
    }
}
@media screen and (max-width: 1280px) {
    .page h3 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .group {
        margin-bottom: 50px;
    }

    .group h4 {
        font-size: 20px;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }

    .group .menu {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .formInput label {
        font-size: 18px;
    }

    .formInput select {
        padding: 15px 10px;
        border-radius: 10px;
        font-size: 18px;
    }

    .selectContainer {
        position: relative;
        margin-top: 15px;
    }

    .icon {
        font-size: 22px;
    }
}