.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #00000061;
    padding: 15px 2%;
    font-family: 'Nunito';
    position: fixed;
    z-index: 500;
    background-color: white;
}

.smallContainer {
    width: 200px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.smallContainer:last-child {
    justify-content: flex-end;
    gap: 15px;
}

.smallContainer button{
    padding: 10px 12px;
    border-radius: 6px;
    font-family: 'Nunito';
    font-weight: 700;
    border: 1.5px solid #7C54A5;
    background-color: white;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}
.smallContainer button:last-child{
    background-color: #7C54A5;
    color: white;
}
.smallContainer button:hover{
    transform: scale(0.96);
}

.smallContainer img {
    width: 80px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navLinks a, .mobileNavlinks a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #00000061;
    cursor: pointer;
    transition: .2s;
}
.navLinks a:hover, .navLinks a.active{
    color: var(--primary-color);
}

.bellIcon {
    margin-right: 12px;
}
.userIcon{
    color: #00000061;
}
.arrowIcon {
    color:#00000061;
}

.mobileNav,
.mobileNavlinks, .sideBar {
  display: none;
}

/* --- Media Queries --- */
@media(max-width:750px){
    .navbar{
        display: none;
    }

    .mobileNav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 1em;
        z-index: 1000;
    }

    .menuIcon, .closeIcon{
        font-size: 2.5rem;
        cursor: pointer;
    }

    .sideBar{
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100%;
        padding: 1.5em 2em;
        display: block;
        background-color: #fff;
        z-index: 1000;
        transition: left 0.3s ease-in-out;
    }

    .mobileNavlinks{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
        margin-top:3em;
    }

    .mobileNavActive{
        left: 0;
    }

    .closeMenu{
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }

    .closeMenu img{
        width: 50px;
    }

    .sideBarBtns{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        gap: 20px;
    }

    .sideBarBtns button{
        padding: 15px;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        font-family: 'Nunito', sans-serif;
        background-color: transparent;
        font-weight: 700;
    }

    .sideBarBtns button:last-of-type{
        background-color: var(--primary-color);
        color: #fff;
    }
}

/* --- Extra Small Devices --- */
@media(max-width:480px){
    .sideBar{
        width: 80%;
    }
}