.radiobtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #000000;
    background-color: transparent;
}

#active {
    background-color: var(--primary-color);
}

.content {
    padding: 40px 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 33%;
    cursor: pointer;
}

.header .chooseContainer h3 {
    font-weight: 700;
    font-family: 'Nunito';
    font-size: 32px;
    margin-bottom: 15px;
}

.chooseRow {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Nunito';
    margin-bottom: 15px;
    cursor: pointer;
    width: fit-content;
}

.midText {
    text-align: center;
    font-weight: 500;
    font-family: 'Nunito';
    margin: 25px auto 15px;
    font-size: 20px;
}

.lowerContainer {
    padding: 25px 10px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
}

.lowerContainer .box {
    margin-bottom: 30px;
}

.box h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.boxContent {
    margin-left: -2px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
}

.flexBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content button {
    background-color: var(--primary-color);
    color: white;
    padding: 18px 43px;
    border: none;
    border-radius: 8px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    width: 70%;
    display: block;
    margin: 10px auto 10px;
}
