.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #00000061;
    padding: 15px 2%;
    font-family: 'Nunito';
}

.smallContainer {
    width: 200px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.smallContainer.left {
    justify-content: flex-end;
    position: relative;
}

.smallContainer img {
    width: 80px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navLinks a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #00000061;
    cursor: pointer;
    transition: .2s;
}

.navLinks a:hover,
.navLinks a.active {
    color: var(--primary-color);
}

.bellIcon {
    margin-right: 12px;
    cursor: pointer;
    transition: .2s;
}
.bellIcon:hover, .bellIcon.purple {
    color: var(--primary-color);
}

.userIcon {
    color: #00000061;
}

.arrowIcon {
    color: #00000061;
    cursor: pointer;
    transition: .2s;
}
.arrowIcon:hover{
    color: var(--primary-color);
}

.dropDownBox{
    position: absolute;
    top: 130%;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px 0;
    width: 150px;
}
.dropDownBox p{
    padding: 10px 30px;
    cursor: pointer;
    transition: .15s;
}
.dropDownBox p:hover{
    background-color: #eee;
}

@media screen and (max-width: 1336px) {
    .navbar {
        height: 85px;
    }

}
@media screen and (max-width: 1280px) {
    .navbar {
        height: 80px;
    }

}