.title {
    font-size: 28px;
    font-weight: 700;
}

.searchBox {
    position: relative;
    margin: 1rem 0;
}

.searchBox input {
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    border: 1px solid #0000000D;
    background-color: #0000000D;
    border-radius: 10px;
    font-weight: 300;
    font-family: 'Nunito';
}

.searchIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
}

.sectionHeader {
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.topicSection h5 {
    margin-bottom: 1.3rem;
    font-size: 18px;
    font-weight: 700;
}

.topicSection ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 2.2rem;
}

.topicSection ul li::before {
    content: '●';
    color: black;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    margin-right: .5rem;
}

.topicSection li {
    cursor: pointer;
    margin-bottom: 1.2rem;
    font-size: 18px;
}

.contactHeader {
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    font-size: 20px;
}

.contactList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contactList li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 1.2rem;
    font-size: 18px;
}
