.title {
    font-size: 28px;
    font-weight: 700;
}


.sectionHeader {
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.topicSection h5 {
    margin-bottom: 1.3rem;
    font-size: 24px;
    font-weight: 700;
}

.topicSection ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 3.4rem;
}

.topicSection ul li::before {
    content: '●';
    color: black;
    display: inline-block;
    width: 1.8rem;
    margin-left: -1rem;
    margin-right: .5rem;
    font-size: 2.5rem;
    transform: translateY(-4%);
}

.topicSection li {
    cursor: pointer;
    margin-bottom: 1.2rem;
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 1;
}

.contactHeader {
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 5.8rem;
    margin-bottom: 1.3rem;
    font-size: 28px;
}

.contactList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contactList li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 1.2rem;
    font-size: 24px;
}


/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 768px) {

    .title {
        display: none;
    }

    .sectionHeader {
        font-size: 28px;
    }

    .topicSection h5 {
        font-size: 20px;
    }

    .topicSection ul {
    margin-bottom: 2.5rem;
}


    .topicSection ul li::before {
        width: 1.5rem;
        font-size: 2rem;
    }

    .topicSection li {
        font-size: 20px;
    }

    .contactHeader {
        margin-top: 3.4rem;
        font-size: 24px;
    }

    .contactList li {
        font-size: 20px;
    }

}