.section {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito';
}

.right {
    display: flex;
    align-items: center;
    gap: 25px;
}


.left h3 {
    font-size: 25px;
    font-weight: 700;
}

.left p {
    margin-top: 5px;
    color: #00000080;
    font-size: 16px;
}


@media screen and (max-width: 600px) {
    .section {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }

    .left h3 {
        font-size: 22px;
    }

    .left p {
        font-size: 13px;
    }

}