.layout {
    display: flex;
    gap: 4.5%;
    padding: 30px 3%;
}

.sidebarSection {
    width: 35%;
}

.sidebarContainer {
    width: 100%;
    border: 1px solid #00000080;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.sidebarContainer h3 {
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebarContainer p {
    font-family: 'Dm Sans';
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
    padding: 17px 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .15s;
    font-size: 17px;
}

.sidebarContainer p:hover {
    color: var(--primary-color);
}

.sidebarContainer p.active {
    color: white;
    background-color: var(--primary-color);

}

button.btn {
    border: 1px solid #00000061;
    border-radius: 10px;
    background-color: transparent;
    color: #EA4335;
    font-weight: 500;
    padding: 20px;
    font-size: 17px;
    width: 100%;
}

.children {
    flex: 1;
}

.tab {
    margin-bottom: 20px;
    display: none;
}

.tabHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.tabHeader p {
    text-align: center;
    font-weight: 700;
    font-family: 'Nunito';
    padding-bottom: 10px;
}

.tabHeader p.active {
    color: var(--primary-color);
    position: relative;
}

.tabHeader p.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-color);
}


.tabContent {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.tabContent>div {
    border-radius: 5px;
    color: var(--primary-color);
    padding: 5px 10px;
}

.tabContent .active {
    background-color: #EADDFF;
    border: 1px solid var(--primary-color);
}


@media screen and (max-width: 700px) {
    .sidebarSection {
        display: none;
    }

    .layout {
        flex-direction: column;
    }
    .tab{
        display: block;
    }

}