.layout{
    width: 100%;
    min-height: 100dvh;
}

.contentSection{
    display: flex;
    position: relative;
}

.outlet{
    height: calc(100dvh - 80px);
    overflow: auto;
    flex: 1;
}
@media screen and (max-width: 500px) {
    .outlet{
        padding-bottom: 70px;
    }
}