.page {
    padding: 30px;
}

.leaderboard_header {
    background-color: red;
    padding: 1em 2em;
}

.achievement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.leaderboard_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.leaderboard_overview {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.leaderboard_navigation button {
    background-color: transparent;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #00000080;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding-bottom: 10px;
    position: relative;
}

.leaderboard_navigation button:hover {
    color: var(--primary-color);

}

.leaderboard_navigation button.active {
    color: var(--primary-color);
}
.leaderboard_navigation button.active::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 4px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

/* --- Media Queries --- */
@media(max-width:768px){
    .leaderboard_overview{
        display: flex;
        flex-direction: column;
    }

    .badge_notification{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

@media(max-width:576px){
    .badge_notification{
        flex-direction: column;
    }
}
