.leaderboard_header{
    padding: 1em 2em;
}

.achievement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.leaderboard_navigation, .leaderboard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leaderboard_overview{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 1.5em;
    overflow: hidden;
    position: relative;
}

.leaderboard_navigation button{
    background-color: transparent;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color:#00000080;
    cursor: pointer;
    transition: border-bottom 0.1s ease-in-out;
}

.leaderboard_navigation .active {
  color: #000000;
  border-bottom: 5px solid var(--primary-color);
}

.leaderboard_navigation button:hover{
    border-bottom: 5px solid var(--primary-color);
    color: #000000;
}

