.box {
    width: 100%;
    border: 1px solid #440B7F4D;
    border-radius: 10px;
}

.imageContainer {
    width: 100%;
    height: 200px;
    position: relative;

}

.questionIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    z-index: 200;
    font-size: 30px;
    cursor: pointer;
}

.imageContainer::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-color: rgba(68, 11, 127);
    opacity: 0.3;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.imageContainer img {
    display: block;
    margin: auto;
    height: 100%;
    border-radius: 10px;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h3 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.content p {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

.content button {
    padding: 12px 43px;
    color: white;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}