.main {
    width: 100%;
    font-family: 'Nunito';
    padding: 40px 6%;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.levelProgressDiv {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    background: #EDE7F6;
    padding: 40px 48px;
    gap: 48px;
}

.levelProgressDiv_first {
    width: 65%;
}

.progressLevelTitle {
    font-weight: 700;
    font-size: 20px;
}

.levelDiv1 {
    margin-top: 1.2rem;
    background: white;
    padding: 35px 45px;
    border-radius: 10px;
}

.xp {
    font-weight: 700;
    font-size: 40px;
    color: var(--primary-color);
    margin: 10px 0;
}

.nextLevelXp {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.statCard {
    background-color: #fff;
    padding: 30px 45px;
    border-radius: 10px;
    width: 35%;

}

.statRow {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.statIcon {
    width: 30px;
    height: 30px;
    font-weight: 700;
    color: var(--primary-color)
}


.statValue {
    font-weight: 800;
    color: var(--primary-color);
    font-size: 20px;
    margin: 0;
}



.divider {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #00000080;
}

/* Badge */
.badgeSection {
    margin: 2.5rem 0;
}


.badgeHeader {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 2.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 2rem;
}

.card {
    border: 1px solid #00000080;
    border-radius: 12px;
    text-align: center;
    padding: 25px 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.badgeIcon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.barIcon {
    width: 86px;
    height: 90px;
}

.lockCircle {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lockIcon {
    font-size: 3.5rem;
}

.badgeTitle {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0.6rem;
}

.badgeSubtext {
    font-weight: 700;
    color: #00000080;
}

.locked {
    opacity: 0.6;
}

/* Level Milestone */

.levelContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    row-gap: 1.5rem;
}

.levelCard {
    border: 1px solid #00000080;
    border-radius: 10px;
    padding: 1.8rem;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.level {
    font-weight: 800;
    font-size: 18px;
}

.levelDesc {
    font-weight: 500;
    font-size: 18px;
}

/* Info */
.more {
    margin: 5rem 0;
}

.info {
    padding-top: 1rem;
}

.infoText {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0.5rem;
}

.infoDesc {
    font-weight: 500;
    font-size: 18px;
}

button.questBtn {
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
}

/* MOBILE RESPONSIVENESS */

/* Progress Level Mobile */
@media screen and (max-width: 768px) {
    .levelProgressDiv {
        margin-top: 10px;
        padding: 10px 6px;
        gap: 14px;
        border-radius: 3px;
    }

    .progressLevelTitle {
        font-weight: 700;
        font-size: 11.47px;
    }

    .levelDiv1 {
        padding: 12px 16px;
        border-radius: 3.19px;
        margin-top: 0.5rem;
    }

    .level {
        font-size: 7.65px;
    }

    .xp {
        font-size: 15.3px;
        margin: 5px 0;
    }

    .nextLevelXp {
        font-size: 7.65px;
        margin-top: 5px;
    }

    .statCard {
        padding: 8px;
        border-radius: 3.6px;
    }

    .statValue {
        font-size: 10.13px;
    }

    .statIcon {
        width: 10.79px;
        height: 10.79px;
        margin-top: auto;
        transform: translateY(-5px);
    }

    .statLabel {
        font-size: 6.08px
    }

    .divider {
        margin: 0.5rem 0;
    }

    .statRow {
        gap: 0.5rem;
    }

    /* Badge Mobile*/
    .badgeSection {
        margin: 1.2rem 0;
    }


    .badgeHeader {
        font-size: 13.17px;
        margin-bottom: .5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .85rem;
    }

    .card {
        border-radius: 4.24px;
        padding: 16px 7px;
    }


    .badgeIcon {
        font-size: 2.7rem;
    }

    .barIcon {
        width: 42px;
        height: 42px;
    }

    .lockCircle {
        width: 2.65rem;
        height: 2.65rem;
    }

    .lockIcon {
        font-size: 1.4rem;
    }

    .badgeTitle {
        font-size: 8.47px;
        margin-bottom: 0;
    }

    .badgeSubtext {
        color: var(--primary-color);
        font-size: 6.78px;
    }

    /* Milestone Mobile */

    .levelContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: .9rem;
        margin-top: .9rem;
    }

    .levelCard {
        border-radius: 5.91px;
        padding: 1.1rem 1.4rem;
        gap: 1.5rem;
        color: var(--primary-color);
    }

    .level {
        font-size: 11.83px;
    }

    .levelDesc {
        font-size: 11.83px;
    }

    /* Info */
    .more {
        margin: 5rem 0;
    }

    .info {
        padding-top: 0.5rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    .infoText {
        font-size: 12px;
        margin-bottom: 0.3rem;
    }

    .infoDesc {
        font-size: 8px;
    }

    button.questBtn {
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 8px;
    }
}

/* TABLET RESPONSIVENESS */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .levelProgressDiv {
        margin-top: 10px;
        padding: 28px 26px;
        gap: 25px;
        border-radius: 3px;
    }

    .levelDiv1 {
        margin-top: 1rem;
        padding: 28px 30px;
    }

    .level {
        font-size: 15px;
    }

    .xp {
        font-size: 30px;
    }

    .nextLevelXp {
        font-weight: 500;
        font-size: 20px;
        margin-top: 10px;
    }

    .statCard {
        padding: 26px 22px;

    }

    .statValue {
        font-size: 18px;
    }

    .statIcon {
        width: 23px;
        height: 23px;
    }

    .statLabel {
        font-size: 13px
    }

    .divider {
        margin: 1rem 0;
    }


    /* Badge Tablet */

    .badgeHeader {
        font-size: 24px;
        margin-bottom: 1.5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .85rem;
    }

    .badgeIcon {
        font-size: 4rem;
    }

    .barIcon {
        width: 66px;
        height: 64px;
    }

    .lockCircle {
        width: 4rem;
        height: 4rem;
    }

    .lockIcon {
        font-size: 2rem;
    }
      button.questBtn {
        padding: 13px 17px;
        font-size: 17px;
    }

}